[MASTER]
disable=
    # We use isort for sorting our imports, so nevermind what pylint thinks
    wrong-import-order,
    # I find the "unnecessary" else makes code more readable
    no-else-return,
    # We use single letter e for exception, f for file handles
    invalid-name
