recursive-include g2p/mappings/langs *
include g2p/static/*.css
include g2p/static/*.js
include MANIFEST.in
exclude .gitignore
recursive-exclude * *.py[co]
recursive-exclude * *~ 
recursive-exclude * *.orig
recursive-exclude * *.DS_Store