recursive-include g2p/mappings/langs *
recursive-include g2p/tests/public *
include g2p/templates/*
include g2p/static/*.css
include g2p/static/*.js
include g2p/static/*.json
include g2p/static/swagger-ui/*
include MANIFEST.in
exclude .gitignore
recursive-exclude * *.py[co]
recursive-exclude * *~ 
recursive-exclude * *.orig
recursive-exclude * *.DS_Store