recursive-include gi2pi/mappings/langs *
include gi2pi/static/*.css
include gi2pi/static/*.js
include MANIFEST.in
exclude .gitignore
recursive-exclude * *.py[co]
recursive-exclude * *~ 
recursive-exclude * *.orig
recursive-exclude * *.DS_Store