openpyxl
click
coloredlogs<=14.0
eventlet==0.30.2
flask-cors
Flask>=2.0.0
flask_socketio==4.3.2
flask-talisman
flask-restful>=0.3.9
gunicorn
networkx
panphon
pyyaml
regex
requests
tqdm
text_unidecode
