language_name: generated
mappings:
  - display_name: Atikamekw IPA to English IPA
    in_lang: atj-ipa
    language_name: Atikamekw
    mapping: atj-ipa_to_eng-ipa.json
    out_lang: eng-ipa
    rule_ordering: apply-longest-first
  - author: Generated 2019-09-26 13:48:19.852180
    authors:
      - Generated 2020-07-06 16:39:58.770641
    display_name: Danish IPA to English IPA
    in_lang: dan-ipa
    language_name: Danish
    mapping: dan-ipa_to_eng-ipa.json
    out_lang: eng-ipa
    rule_ordering: apply-longest-first
  - author: Generated 2020-02-06 11:01:41.458466
    display_name: French IPA to English IPA
    in_lang: fra-ipa
    language_name: French
    mapping: fra-ipa_to_eng-ipa.json
    out_lang: eng-ipa
    rule_ordering: apply-longest-first
  - author: Generated 2019-10-24 16:21:41.605592
    display_name: "SEN\u0106O\u0166EN IPA to English IPA"
    in_lang: str-ipa
    language_name: "SEN\u0106O\u0166EN"
    mapping: str-ipa_to_eng-ipa.json
    out_lang: eng-ipa
    rule_ordering: apply-longest-first
    norm_form: NFD
  - author: Generated 2019-10-23 11:18:26.278696
    display_name: Algonquin IPA to English IPA
    in_lang: alq-ipa
    language_name: Algonquin
    mapping: alq-ipa_to_eng-ipa.json
    out_lang: eng-ipa
    rule_ordering: apply-longest-first
  - author: Generated 2019-12-06 15:24:08.036823
    display_name: Mohawk IPA to English IPA
    in_lang: moh-ipa
    language_name: Mohawk
    mapping: moh-ipa_to_eng-ipa.json
    norm_form: NFD
    out_lang: eng-ipa
    prevent_feeding: true
    rule_ordering: apply-longest-first
  - authors:
      - Generated 2020-03-06 00:15:29.676518
    case_sensitive: true
    display_name: see-ipa IPA to eng-ipa IPA
    escape_special: false
    in_lang: see-ipa
    language_name: see-ipa
    mapping: see-ipa_to_eng-ipa.json
    norm_form: NFD
    out_lang: eng-ipa
    reverse: false
    rule_ordering: as-written
  - authors:
      - Generated 2020-03-30 13:17:41.062858
    case_sensitive: true
    display_name: lml-ipa IPA to eng-ipa IPA
    escape_special: false
    in_lang: lml-ipa
    language_name: lml-ipa
    mapping: lml-ipa_to_eng-ipa.json
    norm_form: NFD
    out_lang: eng-ipa
    reverse: false
    rule_ordering: as-written
  - authors:
      - Generated 2020-04-27 01:30:32.371649
    case_sensitive: false
    display_name: oji-ipa IPA to eng-ipa IPA
    escape_special: false
    in_lang: oji-ipa
    language_name: oji-ipa
    mapping: oji-ipa_to_eng-ipa.json
    norm_form: NFC
    out_lang: eng-ipa
    prevent_feeding: true
    reverse: false
    rule_ordering: as-written
  - authors:
      - Generated 2020-07-28 14:28:24.895117
    case_sensitive: false
    display_name: gla-ipa IPA to eng-ipa IPA
    escape_special: false
    in_lang: gla-ipa
    language_name: gla-ipa
    mapping: gla-ipa_to_eng-ipa.json
    norm_form: NFD
    out_lang: eng-ipa
    prevent_feeding: false
    reverse: false
    rule_ordering: apply-longest-first
  - authors:
      - Generated 2020-08-06 16:06:34.805350
    case_sensitive: true
    display_name: crk-ipa IPA to eng-ipa IPA
    escape_special: false
    in_lang: crk-ipa
    language_name: crk-ipa
    mapping: crk-ipa_to_eng-ipa.json
    norm_form: NFD
    out_lang: eng-ipa
    prevent_feeding: false
    reverse: false
    rule_ordering: as-written
  - rule_ordering: as-written
    authors:
      - Generated 2020-10-05 17:07:26.834691
    case_sensitive: false
    display_name: tce-ipa IPA to eng-ipa IPA
    escape_special: false
    in_lang: tce-ipa
    language_name: tce-ipa
    mapping: tce-norm-ipa_to_eng-ipa.json
    norm_form: NFC
    out_lang: eng-ipa
    prevent_feeding: true
    reverse: false
  - authors:
      - Generated 2020-09-16 17:14:33.602655
    case_sensitive: false
    display_name: crg-ipa IPA to eng-ipa IPA
    escape_special: false
    in_lang: crg-ipa
    language_name: crg-ipa
    mapping: crg-ipa_to_eng-ipa.json
    norm_form: NFD
    out_lang: eng-ipa
    prevent_feeding: true
    reverse: false
    rule_ordering: as-written
  - authors:
      - Generated 2020-09-18 10:40:15.289530
    case_sensitive: false
    display_name: Tlingit IPA to English IPA
    escape_special: false
    in_lang: tli-ipa
    language_name: Tlingit IPA
    mapping: tli-norm-ipa_to_eng-ipa.json
    norm_form: NFC
    out_lang: eng-ipa
    prevent_feeding: false
    reverse: false
    rule_ordering: as-written
