language_name: generated
mappings:
  - as_is: false
    display_name: Atikamekw IPA to English IPA
    in_lang: atj-ipa
    language_name: Atikamekw
    mapping: atj-ipa_to_eng-ipa.json
    out_lang: eng-ipa
  - as_is: false
    author: Generated 2019-09-26 13:48:19.852180
    display_name: Danish IPA to English IPA
    in_lang: dan-ipa
    language_name: Danish
    mapping: dan-ipa_to_eng-ipa.json
    out_lang: eng-ipa
  - as_is: false
    author: Generated 2020-02-06 11:01:41.458466
    display_name: French IPA to English IPA
    in_lang: fra-ipa
    language_name: French
    mapping: fra-ipa_to_eng-ipa.json
    out_lang: eng-ipa
  - as_is: false
    author: Generated 2019-10-24 16:21:41.605592
    display_name: "SEN\u0106O\u0166EN IPA to English IPA"
    in_lang: str-ipa
    language_name: "SEN\u0106O\u0166EN"
    mapping: str-ipa_to_eng-ipa.json
    out_lang: eng-ipa
  - as_is: false
    author: Generated 2019-10-23 11:18:26.278696
    display_name: Algonquin IPA to English IPA
    in_lang: alq-ipa
    language_name: Algonquin
    mapping: alq-ipa_to_eng-ipa.json
    out_lang: eng-ipa
  - as_is: false
    author: Generated 2019-12-06 15:24:08.036823
    display_name: Mohawk IPA to English IPA
    in_lang: moh-ipa
    language_name: Mohawk
    mapping: moh-ipa_to_eng-ipa.json
    norm_form: NFD
    out_lang: eng-ipa
    prevent_feeding: true