<!DOCTYPE doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>G2P Studio</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css">
    <link rel="stylesheet" type="text/css" href="https://handsontable.com/static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
</head>

<body>
    <div id="hot"></div>
    <div id="export-buttons" class="visible"><button id="export-csv"
            class="btn size-medium bg-blue text-white shadow hover-moveup" style="margin-right: 5px;">Export to a .csv
            file</button></div>
    <textarea id='input'></textarea>
    <textarea id='output'></textarea>
    <script>var dataObject = [
            {
                from: 'a',
                to: 'b',
                before: '',
                after: ''
            },
            {
                from: 'a',
                to: 'b',
                before: '',
                after: ''
            },
        ];

        var hotElement = document.querySelector('#hot');
        var hotElementContainer = hotElement.parentNode;
        var hotSettings = {
            data: dataObject,
            columns: [
                {
                    data: 'before',
                    type: 'text'
                },
                {
                    data: 'from',
                    type: 'text'
                },
                {
                    data: 'after',
                    type: 'text'
                },
                {
                    data: 'to',
                    type: 'text'
                },
            ],
            stretchH: 'all',
            width: 880,
            autoWrapRow: true,
            height: 87,
            maxRows: 22,
            rowHeaders: true,
            colHeaders: [
                'Context Before',
                'From',
                'Context After',
                'To'
            ],
            manualRowMove: true,
            manualColumnMove: true,
            exportFile: true,
            licenseKey: 'non-commercial-and-evaluation'
        };
        var hot = new Handsontable(hotElement, hotSettings);
        document.getElementById("export-csv").addEventListener("click", function (event) { hot.getPlugin("exportFile").downloadFile("csv", { filename: "Cors CSV Export example" }); })
    </script>
    <h1>Flask-SocketIO Test</h1>
    <div id="log"></div>
    <script>
        $(document).ready(function () {
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            socket.on('conversion response', function (msg) {
                $('#output').text(msg['output_string']);
            });
            socket.on('connection response', function (msg) {
                $('#log').append('<p>' + msg.data + '</p>')
            })
            $('#input').on('keyup', function (event) {
                socket.emit('conversion event', { data: { input_string: $('#input').val(), cors: hot.getData() } });
                return false;
            })
            $('#hot').on('change', function (event) {
                socket.emit('conversion event', { data: { input_string: $('#input').val(), cors: hot.getData() } });
                return false;
            })
        });</script>
</body>

</html>