name: Run full matrix Tests before Releases
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: main
env:
  SETUPTOOLS_SCM_PRETEND_VERSION: "2.1"
jobs:
  pre-release-matrix-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          SETUPTOOLS_SCM_PRETEND_VERSION=`cat .SETUPTOOLS_SCM_PRETEND_VERSION` pip install -e .[test]
      - name: Run tests
        run: python run_tests.py dev
